@font-face {
	font-family: "OpenSans";  
	src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2"); 
	font-style: normal; 
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans";  
	src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2"); 
	font-style: normal; 
	font-weight: lighter;
}

@font-face {
	font-family: "Gilroy";  
	src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2"); 
	font-style: normal; 
	font-weight: bold;
}

@font-face {
	font-family: "Gilroy";  
	src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2"); 
	font-style: normal; 
	font-weight: normal;
}


body {
	font-family: OpenSans, sans-serif;
	font-size: 15px;
	color: #464646;
}

.header-title,
.footer-title {
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 48px;
	line-height: normal;
	font-weight: bold;
	text-transform: uppercase;
}

.header-title {
	color: #000;
}

.footer-title {
	color: #ffc600;
}

a {
	text-decoration: none;
}


.header-bottom-menu,
.services-tabs label,
.main-btn,
.sidebar-sort-header,
.main-sort-header,
.catalog-page,
.footer-bottom-menu {
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
}



h2 {
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 47px;
	line-height: normal;
	font-weight: bold;
	color: #000;
	letter-spacing: 10;
}

.slide-spec-value {
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 36px;
	line-height: normal;
	font-weight: lighter;
	color: #000;
	letter-spacing: 10;
}

.slide-spec-type {
	font-size: 13px;
	line-height: 20px;
}

.product-type-text {
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	letter-spacing: 10;
}

.info-text li {
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 16px;
	line-height: normal;
	font-weight: bold;
	color: #000;
	letter-spacing: 10;
}



/* тут начинаются стили для каталога */

.breadcrumbs {
	font-size: 14px;
	line-height: 36px;
	color: #464646;
	letter-spacing: 10;
}

.sidebar-filter-title,
.page-switcher,
.btn-page {
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 200;
}

.sidebar-filter span,
.catalog-item-descr {
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 18px;
	line-height: normal;
	font-weight: bold;
	color: #000;
	letter-spacing: 10;
}

.catalog-sort {
	font-family: OpenSans, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	letter-spacing: 0;
}

.sidebar-filter label {
	font-size: 14px;
	line-height: 40px;
	color: #000;
	letter-spacing: 10;
}

.catalog-item-cost {
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 16px;
	line-height: normal;
	color: #464646;
	letter-spacing: 10;
}

/* тут начинается сетка */



.header-main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-title {
	margin: 15px 0 -28px 60px;
	position: relative;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
	outline: 2px solid red;
}

.header-wrap {
	outline: 1px dashed brown;
	padding: 0 60px;
	background-color: #f7e296;
	height: 300px;
}

.header-wrap-catalog {
	height: 190px;
}

.header-top {
	outline: 1px dashed brown;
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.header-search {
	outline: 1px dashed brown;
	display: flex;
	width: 50%;
}

.input-search {
	background: transparent;
    border: 2px solid transparent;
    line-height: 50px;
    padding-left: 45px;
    font-family: OpenSans, sans-serif;
	font-size: 15px;
	color: black;
	opacity: 0.3;
}

.input-search:hover {
	opacity: 0.6;
}

.input-search:focus {
	opacity: 1;
	border-bottom-color: black;
	outline: none;
}

.search-form {
	position: relative;
	display: flex;
}

.search-form::before {
	position: absolute;
	top: 17px;
	content: "";
	width: 16px;
	height: 16px;
	background: url("img/sprites.png") 0 0 no-repeat;
}

.search-btn {
	display: none;
	background-color: transparent;
	line-height: 50px;
	padding: 0 20px;
	border: 2px solid black;
	font-family: OpenSans, sans-serif;
	font-size: 15px;
	color: black;
}

.search-btn:hover {
	color: #fff;
	background-color: black;
}

.search-btn:active {
	opacity: 0.3;
}

.input-search:focus + .search-btn {
	display: block;
}

.header-top-menu {
	display: flex;
	width: 50%;
	outline: 1px dashed brown;
	justify-content: space-between;
	margin: 50px 0;
	padding: 0;
	list-style: none;
	font-size: 15px;
	font-weight: lighter;
	color: #000;
}

.header-top-menu li {
	margin-right: 40px;
	padding-left: 27px;
	position: relative;
}

.header-top-menu a {
	color: black;
}

.header-title:hover,
.footer-title:hover,
.header-top-menu li:hover,
.header-bottom-menu > li > a:hover,
.catalog-menu a:hover {
	opacity: 0.6;
}

.header-title:active,
.footer-title:active,
.header-top-menu li:active,
.header-bottom-menu > li > a:active,
.catalog-menu a:active {
	opacity: 0.3;
}

.header-top-menu li:first-child {
	margin-right: auto;
}

.header-top-menu li:last-child {
	margin-right: 0;
}

.header-login::before {
	position: absolute;
    left: 0;
    top: 2px;
    content: "";
    width: 16px;
    height: 16px;
    background: transparent url(img/sprites.png) -19px 0 no-repeat;
}

.header-compare::before {
	content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    background: transparent url(img/sprites.png) -36px 0 no-repeat;
}

.header-cart::before {
	position: absolute;
    left: 0;
    top: 2px;
    content: "";
    width: 16px;
    height: 16px;
    background: transparent url(img/sprites.png) -52px 0 no-repeat;
}



.header-bottom {
	outline: 1px dashed brown;
	display: flex;
	justify-content: space-between;
}

.header-bottom-menu {
	display: flex;
	outline: 1px dashed brown;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}


.header-bottom-menu > li {
	margin-right: 40px;
	position: relative;
}

.header-bottom-menu > li:first-child {
	outline: 1px dashed brown;
	width: 50%;
	margin: 0;
}



.header-bottom-menu > li:last-child {
	margin-left: auto;
	margin-right: 0;
}

.catalog-menu {
	outline: 1px dashed brown;
	display: none;
	padding: 30px 60px 0;
	width: 1040px;
	min-height: 130px;
	position: absolute;
	left: -60px;
	z-index: 10;
	justify-content: flex-start;
	font-family: OpenSans, sans-serif;
	font-size: 15px;
	color: #464646;
	text-transform: none;
	letter-spacing: normal;
	margin: 0;
	list-style: none;
	background-color: #f7e296;
}

.header-catalog:hover .catalog-menu {
	display: flex;
}

.catalog-menu ul {
	margin: 0 40px 0 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.catalog-menu li {
	margin: 5px 0; 
}



.slider {
	position: relative;
	outline: 2px solid blue;
	margin-top: -80px;
}

.slide {
	outline: 1px dashed brown;
	padding: 0 60px;
	margin-bottom: 80px;
	display: none;
	justify-content: space-between;	
	min-height: 490px;
}

.slide-image {
	text-align: center;
	margin-right: 40px;
}

.slide-image,
.slide-descr {
	outline: 1px dashed brown;
	width: 560px;
	position: relative;
}

.slide-title {
	position: relative;
}

.slide-number {
	position: absolute;
	top: -42px;
    right: -14px;
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 179.2px;
	font-weight: bold;
	color: #fff;
	line-height: 179.2px;
	letter-spacing: 10;
}

.slide-text p {
	outline: 1px dashed brown;
	line-height: 30px;
	margin-bottom: 40px;
}

.slide-spec-wrapper {
	outline: 1px dashed brown;
	display: flex;
	justify-content: flex-start;
	margin-top: 50px;
}

.slide-spec {
	outline: 1px dashed purple;
	margin-right: 60px;
}

.slide-spec-value {
	display: inline-block;
	margin-bottom: 10px;
}

.slider input[id="slide-1"]:checked ~ .slide-1,
.slider input[id="slide-2"]:checked ~ .slide-2,
.slider input[id="slide-3"]:checked ~ .slide-3 {
	display: flex;
}

.slider-switchers {
	position: absolute;
	bottom: 160px;
	right: 160px;
	z-index: 10;
}

.slider-switchers label {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 10px;
	border: 1px solid black;
	border-radius: 50%;
}

.slider input[id="slide-1"]:checked ~ .slider-switchers > label[for="slide-1"]::after,
.slider input[id="slide-2"]:checked ~ .slider-switchers > label[for="slide-2"]::after,
.slider input[id="slide-3"]:checked ~ .slider-switchers > label[for="slide-3"]::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 5px;
	height: 5px;
	border: 1px solid black;
	border-radius: 50%;
}

.slider input {
	display: none;
}

.main-btn {
	line-height: 40px;
    padding: 0 40px;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}

.main-btn:hover {
	background: #f0c52e;
}

.main-btn:active {
	opacity: 0.3;
}

.menu {
	outline: 1px dashed brown;
	display: flex;
	justify-content: space-between;
	margin-bottom: 190px;
}

.product-type {
	outline: 1px dashed brown;
	width: 160px;
}

.image-holder {
	outline: 1px dashed brown;
	margin-bottom: 35px;
	display: flex;
	background-color: #f7e296;
	width: 160px;
	height: 160px;
}

.image-holder:hover {
	background-color: #f0c52e;
}

.image-holder img {
	margin: auto;
}

.product-type:active img,
.product-type:active span {
	opacity: 0.3;
}



.services {
	outline: 1px solid blue;
	background-color: #e5e5e5;
}

.services-slide-text p {
	outline: 1px dashed brown;
	line-height: 30px;
}

.services-wrap {
	outline: 1px dashed brown;
	display: flex;
	position: relative;
    top: -113px;
    height: 320px;
}

.services-tabs {
	outline: 1px dashed brown;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 25%;
	border-right: 6px solid black;

}

.services-btn {
	position: relative;
	box-sizing: border-box; 
	padding: 0;
	width: 50%;
	text-align: center;
	margin: 10px 0;
}

.services input {
	display: none;
}

.services input[id="delivery"]:checked ~ .services-tabs > label[for="delivery"],
.services input[id="guarantee"]:checked ~ .services-tabs > label[for="guarantee"],
.services input[id="credit"]:checked ~ .services-tabs > label[for="credit"] {
	background: black; 
	color: #f7e184;
}

.services input[id="delivery"]:checked ~ .services-tabs > label[for="delivery"]::after,
.services input[id="guarantee"]:checked ~ .services-tabs > label[for="guarantee"]::after,
.services input[id="credit"]:checked ~ .services-tabs > label[for="credit"]::after {
	position: absolute;
	right: -100%;
	height: 40px;
	width: 100%;
	background: black;
	content: "";
}

.services input[id="delivery"]:checked ~ .services-slide-1,
.services input[id="guarantee"]:checked ~ .services-slide-2,
.services input[id="credit"]:checked ~ .services-slide-3 {
	display: flex;
}

.services-slide {
	outline: 1px dashed brown;
	display: none;
	justify-content: space-between;
	align-items: center;
	width: 75%;
}

.services-slide-text {
	outline: 1px dashed brown;
	width: 460px;
	margin-left: 120px;
}

.services-slide-image {
	outline: 1px dashed brown;
	margin-right: 60px;
}



.partners {
	display: flex;
	justify-content: space-between;
	margin: 93px auto;
}

.partners-logo {
	outline: 1px dashed brown;
}

.partners-logo img {
	filter: grayscale(100%);
	opacity: 0.2;
}

.partners-logo img:hover {
	filter: grayscale(0%);
	opacity: 1;
}





.info-contacts-wrap {
	outline: 1px dashed brown;
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.info,
.contacts {
	outline: 1px dashed purple;
	width: 560px;
}

.info {
	margin-right: 40px;
}

.info-title, .contacts-title {
	outline: 1px dashed purple;
}

.info-text p,
.contacts-text p {
	outline: 1px dashed purple;
	line-height: 30px;
	margin-bottom: 20px;
}

.info-text ul {
	margin: 60px 0;
	padding-left: 20px;
	list-style: circle;
}

.info-text ul li {
	line-height: 30px;
	margin-bottom: 5px;
}

.map-holder {
	margin-bottom: 50px;
}

/* C A T A L O G */






.catalog-nav {
	display: flex;
	flex-wrap: wrap;
}

.main-title {
	outline: 1px dashed grey;
	width: 100%;
	margin: 30px 0 0 60px;
}

.breadcrumbs {
	outline: 1px dashed grey;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 15px 0 40px 60px;
}

.breadcrumbs-item {
	margin-right: 40px;
}

/*.background {
	background-color: #efefef;
} */

.catalog-sort,
.catalog-main {
	outline: 1px dashed grey;
	display: flex;
	flex-wrap: wrap;
}

.catalog-sort {
	min-height: 70px;
	justify-content: space-between;
	align-items: center;
	background-color: #efefef;
}

.sidebar-sort,
.catalog-sidebar {
	outline: 1px dashed grey;
	width: 28%;
}

.main-sort,
.catalog-body-wrapper {
	outline: 1px solid pink;
	width: 72%;
}

.main-sort,
.sidebar-sort {
	display: flex;
}

.sort-type {
	outline: 1px dashed grey;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.sort-type a {
	margin-left: 20px;
}

.sidebar-sort-header, 
.main-sort-header {
	outline: 1px dashed grey;
	margin-left: 60px;
	margin-right: 45px;
	display: block;
}

.main-sort-header {
	margin-left: 70px;
}

.catalog-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #efefef;
}

.sidebar-form {
	margin: 70px 70px 0 60px;
	width: 200px;
}

.sidebar-filter {
	outline: 1px dashed grey;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-top: 10px;
	border-top: 2px solid black;
	margin-bottom: 20px;
}




.range-controls {
	display: flex;
	align-items: center;
	outline: 1px solid lightgreen;
	position: relative;
	height: 50px;
}

.range-controls .scale {
	width: 100%;
	height: 2px;
	background-color: #dbdbdb;
}

.range-controls .bar {
	height: 2px;
	background-color: #91c92f;
}

.toggle {
	position: absolute;
	top: 15px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid #fff;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #dadada;
}

.toggle:active {
	top: 14px;
	border-width: 9px;
}

.min-toggle {
	left: -5px;
}

.max-toggle {
	left: 110px;
}

.price-controls {
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 14px;
	color: #000;
	opacity: 0.2;
}

.price-controls input {
	width: 60px;
	background-color: transparent;
	border: none;
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 14px;
	color: #000;
	
}


.sidebar-filter span {
	display: inline-block;
	margin-bottom: 25px;
}

.sidebar-filter label {
	position: relative;
	padding-left: 40px;
}

.filter-color label::before {
	position: absolute;
	cursor: pointer;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	background: transparent url("img/sprites.png") -301px 0 no-repeat;
}

.filter-color label:hover::before,
.filter-bt label:hover::before {
	opacity: 0.6;
}

.filter-color input:checked + label::before {
	width: 28px;
	background: transparent url("img/sprites.png") -271px 0 no-repeat;
}

.filter-color input,
.filter-bt input {
	display: none;
}

.filter-bt label::before {
	position: absolute;
	cursor: pointer;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 26px;
	height: 26px;
	background: transparent url("img/sprites.png") -353px 0 no-repeat;
}

.filter-bt input:checked + label::before {
	background: transparent url("img/sprites.png") -326px 0 no-repeat;
}




.catalog-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 70px 0 0 70px;
}

.catalog-item,
.catalog-item img {
	outline: 1px dashed grey;
}

.catalog-item-text {
	outline: 1px dashed green;
	display: flex;
	justify-content: space-between;
	margin: 10px 0 60px 0;
}

.catalog-item-descr {
	width: 255px;
}

.catalog-footer {
	outline: 1px dashed grey;
	display: flex;
	height: 70px;
	justify-content: space-between;
	align-items: center;
	margin: 35px 0 73px 70px;
	background-color: #efefef;
}

.page-switcher {
	outline: 1px dashed grey;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0 10px;
}

.catalog-page {
	display: inline-block;
	outline: 1px dashed pink;
	padding: 25px;
}

.catalog-page:hover {
	background: #d9d9d9;
}

.catalog-page:active {
	color: #979797;
}

.btn-page {
	background-color: transparent;
	border: none;
	opacity: 0.3;
	padding: 5px;
	margin: 0 10px;
	outline: none;
	cursor: pointer;
}

.btn-page:hover {
	opacity: 0.6;
}

.btn-page:active,
.btn-page-active {
	opacity: 1;
}




/*Футер*/



.footer-main {
	background-color: #464646;
	border-top: 1px solid transparent;
	padding-bottom: 65px;
}

.footer-top {
	margin-top: 50px;
	outline: 1px dashed yellow;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-title {
	outline: 1px dashed yellow;
	margin: 0;
}

.footer-top-menu {
	outline: 1px dashed yellow;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-top-menu a {
	font-size: 15px;
	line-height: 2; 
	color: #fff;
	opacity: 0.7;
}


.footer-top-menu li {
	position: relative;
	margin-right: 40px;
	padding-left: 22px;
}


.footer-top-menu li:last-child {
	margin-right: 0;
}

.footer-top-menu li::before {
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
}

.footer-top-menu a:hover {
	opacity: 1;
}

.footer-top-menu a:active {
	opacity: 0.3;
}

.footer-login::before {
	background: transparent url("img/sprites.png") -74px 0;
	left: 0;
	top: 8px;
}

.footer-compare::before {
	background: transparent url("img/sprites.png")  -95px 0;
	left: 0;
	top: 8px;
}

.footer-cart::before {
	background: transparent url("img/sprites.png")  -111px 0;
	left: 0;
	top: 8px;
}


.footer-top-menu li:hover::before {
	opacity: 0.6;
}

.footer-top-menu li:active::before {
	opacity: 0.3;
}


.footer-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-address {
	margin-right: auto;
}

.footer-tel {
	margin-left: auto;
}

.footer-bottom span {
	color: #fff;
}

.footer-bottom-menu {
	outline: 1px dashed yellow;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

.footer-bottom-menu li {
	margin: 0 20px;
}

.footer-bottom-menu a {
	color: #fff;
}

.footer-bottom-menu li:hover {
	opacity: 0.6;
}

.footer-bottom-menu li:active {
	opacity: 0.3;
}

.footer-social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-social span {
	margin-right: auto;
}

.social a {
	display: inline-block;
	margin: 0 10px;
	position: relative;
	width: 32px;
	height: 32px;
}

.social-btn::before {
	position: absolute;
	content: "";
	width: 32px;
	height: 32px;
	opacity: 0.3;
	background: transparent url("img/sprites.png") no-repeat;
}

.social-btn-fb::before {
	background-position: -131px 0;
}

.social-btn-inst::before {
	background-position: -168px 0;
}

.social-btn-tw::before {
	background-position: -205px 0;
}

.social-btn:hover::before {
	opacity: 0.6;
}

.social-btn:active::before {
	opacity: 0.1;
}

.htmlacademy-btn {
	margin-left: auto;
	position: relative;
	width: 27px;
	height: 35px;
}

.htmlacademy-btn::before {
	position: absolute;
	content: "";
	width: 27px;
	height: 35px;
	left: 0;
	top: 0;
	background: url("img/sprites.png") -239px 0 no-repeat;
}

.htmlacademy-btn:hover::before {
	opacity: 0.6;
}

.htmlacademy-btn:active::before {
	opacity: 0.3;
}





.strange-stick {
	display: block;
	width: 80px;
	height: 7px;
}

.strange-stick.yellow {
	background-color: #ffc600;
}

.strange-stick.black {
	background-color: #000;
}

.strange-stick.white {
	background-color: #fff;
}






.hidden {
	display: none;
}


/* Всплывающая форма */

.modal-content {
	outline: 1px solid lightblue;
	display: none;

	position: absolute;
	left: 50%;
	top: 120px;
	margin-left: -480px;

	width: 760px;
	padding: 90px 100px 80px;
	
	background: #fff;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
	z-index: 200;
}

.modal-error {
	animation: shake 0.5s;
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	20%, 60% {transform: translateX(-5px);}
	40%, 80% {transform: translateX(5px);}
}


.modal-content-show {
	display: block;
}

.modal-content-close {
	position: absolute;
	top: 22px;
	right: 22px;
	width: 55px;
	height: 55px;
	font-size: 0;
	background-color: #f0c52e;
	opacity: 0.5;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
 	content: "";
 	position: absolute;
 	top: 26px;
 	right: 12px;

 	width: 30px;
 	height: 3px;
 	background-color: #fff;
 	border-radius: 1px;
}

.modal-content-close::before {
 	transform: rotate(45deg);
}

.modal-content-close::after {
 	transform: rotate(-45deg);
}

.write-us-form {
	font-size: 0;
}

.write-us-form input[type="text"],
.write-us-form textarea {
	font-family: OpenSans, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	opacity: 0.4;
	background-color: #f2f2f2;
	border: none;
}

.write-us-form input[type="text"] {
	width: 320px;
	padding: 16px 20px;
}

.write-us-form label {
	display: block;
	margin-bottom: 10px;
	font-family: Gilroy, Tahoma, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

.write-us-form .form-name,
.write-us-form .form-mail {
	display: inline-block;
	margin-bottom: 35px;
}

.write-us-form .form-name {
	margin-right: 40px;
}

.modal-content textarea {
	width: 720px;
	height: 155px;
	padding: 20px;
	resize: none;
	margin-bottom: 40px;
}

